Many free ICONs:http://code.google.com/p/google-maps-icons/

Theme for app: 
http://teachmetocode.com/screencasts/styleize-your-rails-app-with-themes/

Names: homa elektra esenco materialo: http://www.esperanto-panorama.net/vortaro/eoen.htm
eevivo.com : Vivo stands for Electrical inpolses DB of all living organism
eevida.com
vivoeid
vivodb
vivoei.com
Mutations of VIVO are greatly available pvivo (p for planet)
-.-.-.-.-.

TODO Before release

2- BusinessForm and coupons validation
1- User should be able to delete their own alerts
3- Not logged in user can: see coupons, maybe coupons creator busprofile, signup for alerts, like stuff, donate, etc,
4- edit profile "change password/email" is not showing errors properly.
5- edit ALL error messages on the page (not alerts, or notices)so at least it is acceptable
6- Unexisting Page Redirect
7- Sign up test user to our page: new MVC with name and email
8- Coupons, bsForm looks
9- Feedback options: Use a existing one or create my own: e.i. Uservoice etc
10-Email with option to delete alert
11- Route user/signin and user/signup to /register and /signin
12- Administrator interface needs to be augmented. 
13- How will the user know if he is creating a busform for his non-profit or for a profit and how do they know who should create a 
busform. The busness form dynamic is not clear.
#rails g web_app_theme:themed simplealerts --will-paginate



<% if current_user %>
          <% if current_user && !current_user.admin?%>
              <% @simplealert.alert_owner = current_user.username || "Invalid" %>
          <%elsif current_user && current_user.admin?%>
	        	<%= f.label :alert_owner %> 
              <%= f.text_field :alert_owner, :value => @simplealert.alert_owner || "Admin" %> 
          <%else%>
          	<% @simplealert.alert_owner = current_user.username || "Invalid" %>
      	<%end%>
	<br/>
<% else %><br/>
	<div class="field" style="display:none"><!--I hide this because I want to save with User info but Without displaying-->
   <%= f.label :alert_owner %>
   <%= f.text_field :alert_owner, :readonly => true, :value => "Guest" %>
	</div>
<%end%>