<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @alert.try(:email) || "Guest" %>,</h1>
    <p>
      You have successfully create an alert at Doutdes.<br/>
http://maps.google.com/maps/geo?key=ABQIAAAATM3EfztvJcb2qSZTDLOq7hS75QhKEw_ehpmpifU5HAvryn-DghRKiQe7E183L2Of-l4VIIM8RsDBsQ&output=xml&q=The_Zip_Code_Here
    </p>
    <p>
      Login to manage multiple alert: doutdes.heroku.com
	
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>