
  <style type="text/css">
    .dialog { text-align: center; font-family: arial, sans-serif;

      width: 25em;
      padding: 0 4em;
      margin: 4em auto 4em auto;
      border: 2px solid green;
      border-right-color: #999;
      border-bottom-color: #999;
	-moz-border-radius: 4px;
		-webkit-border-radius: 5px;
		-moz-background-clip: border;     /* Firefox 3.6 */
      -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
      background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

      -moz-background-clip: content;     /* Firefox 3.6 */
      -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
      background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	  -moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>

  <!-- This file lives in public/404.html -->
  <div class="dialog">
	
    <h1>The page you were looking for doesn't exist.</h1>
    <p>We are sorry. Please check the spelling and try again.</p>

  </div>

