<iframe id="basicEmbed" src="https://api.opentok.com/hl/embed/1emb82d95d3e21da16f8b50261419e5d22717718" width="350" height="265" style="border:none"></iframe>


<div class="box">

<h1>Hi there,</h1>
<h4>We are developing a website for you that will be the hub for caring individuals to support non-profits and their community while simply doing their daily shopping, eating, and living.  Through a simple user interface, you can find businesses that you may go to every day that are supporting non-profits. Through us you will be able to participate in a giving cycle between local businesses, the local community, and non-profit organizations.</h4>

<p>
*A typical user cycle<br/>

1- You want to purchase a particular product.<br/>
2- You know the product you want but has no preference from where.<br/>
3- You come to us and we tell you about businesses around you that have that product AND are care about the community enough to be making a significant contribution to a non-profit organization.<br/><br/>

4- You choose to collaborate with the business to the non-profit by buying the product you originally wanted from them.<br/><br/>

You set in motions a giving cycle mutually beneficial to you, the business, and the local community. Hurray!!!</p>


</div>