<div class="box">
<h1>Hi there,</h1>

<p>We are still in early development. Thank you for your interest. If you would like to contribute in any way please send us an  
	<a href="mailto:coxaqui@gmail.com">email.</a><br/><br/> Thank you</p>
	</p>

</div>