/* Override here any style defined by web-app-theme */
#user-navigation li.logout {
  background: #cc0000;
  padding: 2px 4px;
  -moz-border-radius: 4px;
	-webkit-border-radius: 5px;
}
#user-navigation li.login {
  background: green;
  padding: 2px 4px;
  -moz-border-radius: 4px;
	-webkit-border-radius: 5px;
}

}

div#map{
			height:250px;
			display: block; /* another must */
			position:relative; /* because the child elements are positioned */
			top: -1px; /* drag it up a little, creates the top notches */
			left: 0;
			border:solid #666;
			border-width:5px 5px 5px 5px; /* top border only */
			font-weight:normal;
			-moz-border-radius: 4px;
				-webkit-border-radius: 5px;
				-moz-background-clip: border;     /* Firefox 3.6 */
		        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
		        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		        -moz-background-clip: padding;     /* Firefox 3.6 */
		        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
		        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		        -moz-background-clip: content;     /* Firefox 3.6 */
		        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
		        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
div#searchMain{
			display: block; /* another must */
  			position:relative; /* because the child elements are positioned */
  			top: -1px; /* drag it up a little, creates the top notches */
  			left: 0;
  			border:solid #666;
  			border-width:5px 5px 5px 5px; 
			padding-top:2px;
			padding-bottom:2px;
			padding-right:2px;
			padding-left:2px;
  			font-weight:normal;
			-moz-border-radius: 4px;
			-webkit-border-radius: 5px;
			-moz-background-clip: border;     /* Firefox 3.6 */
	        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	        -moz-background-clip: padding;     /* Firefox 3.6 */
	        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	        -moz-background-clip: content;     /* Firefox 3.6 */
	        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				}