/* Override here any style defined by web-app-theme */

/*<li class="login"><%= link_to " Sign In", new_user_session_path %></li>
<li></li>
<li class="login"><%= link_to " Sign Up", new_user_registration_path %></li>*/
#header {
  background: #36393d; /* default background for browsers without gradient support */
	/* css3 */
  /*background:-webkit-gradient(linear,0 0, 0% 100%, from(gray), to(#36393d));
  background:-moz-linear-gradient(gray, #36393d);
  background:-o-linear-gradient(gray, #36393d);
  background:linear-gradient(gray,#36393d);*/
}
#user-navigation a.login {
  background: green;
  padding: 1px 4px;
  -moz-border-radius: 4px;
	-webkit-border-radius: 3px;

}
div#show_map
{
	display: block;
}
div#mapa
{
	display: block; /* another must */
	position:relative; /* because the child elements are positioned */
	top: -1px; /* drag it up a little, creates the top notches */
	left: 0;
	border:solid #666;
	border-width:5px 5px 5px 5px; /* top border only */
	font-weight:normal;
	/*background: white;*/
	-moz-border-radius: 4px;
		-webkit-border-radius: 5px;
		-moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
div#hide_map
{
	display: none;
}
div#OLDmap{
			height:250px;
			display: block; /* another must */
			position:relative; /* because the child elements are positioned */
			top: -1px; /* drag it up a little, creates the top notches */
			left: 0;
			border:solid #666;
			border-width:5px 5px 5px 5px; /* top border only */
			font-weight:normal;
			-moz-border-radius: 4px;
				-webkit-border-radius: 5px;
				-moz-background-clip: border;     /* Firefox 3.6 */
		        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
		        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		        -moz-background-clip: padding;     /* Firefox 3.6 */
		        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
		        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

		        -moz-background-clip: content;     /* Firefox 3.6 */
		        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
		        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.bstyle{           
display: none;
position: absolute;
top: 100%;
left: 100%;
width: 100%;
height: 100%;
background-color: EFEFEF;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.wstyle {
display: none;
position: absolute;
top: 25%;
left: 25%;
width: 40%;
height: 40%;
padding: 2px;
border: 3px solid #000000;
background-color: white;
z-index:1002;
overflow: auto;
}
div#searchMain{
			display: block; /* another must */
  			position:relative; /* because the child elements are positioned */
  			top: -1px; /* drag it up a little, creates the top notches */
  			left: 0;
  			border:solid #666;
  			border-width:5px 5px 5px 5px; /*top, XXX, bottom*/
			padding-top:2px;
			padding-bottom:2px;
			padding-right:2px;
			padding-left:2px;
  			font-weight:normal;
			-moz-border-radius: 4px;
			-webkit-border-radius: 5px;
			-moz-background-clip: border;     /* Firefox 3.6 */
	        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	        -moz-background-clip: padding;     /* Firefox 3.6 */
	        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	        -moz-background-clip: content;     /* Firefox 3.6 */
	        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
			}
				
				
				
/* meebo chat room style */
.mcrmeebo 
{ 
display: block; 
background:url("http://widget.meebo.com/r.gif") no-repeat top right;

} 
.mcrmeebo:hover 
{ 
background:url("http://widget.meebo.com/ro.gif") no-repeat top right; 
width:;
} 
/* end of meebo chat room style  */


/* Simple Alert style */

div#simplealerts_inner
{
	width: 350px;
	/*height: 100px;*/
	/*top: 50%;*/
	left: 50%;
	position:fixed;
	top:10px;
	/*margin-top: -50px;*/
	margin-left: -175px;
	/*right:0px;*/
	border: solid #FFD700;
	border-width: 8px 3px 8px 3px;
	background-color: #FFD700;
	/*background: white;*/
		
	-moz-border-radius: 4px;
		-webkit-border-radius: 5px;
		-moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
div#simplealerts_outter
{
	/*z-index:-21;*/
	display:none; 
	border: solid #222;
	height: 120px;/* main outter layer 120 ideal*/
	border-width: 0px 0px 0px 0px;
	background-color: #222;
	
	/*background: white;*/
	-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

div#simplealerts_sign
{
	display:block; 
	width: 104px;
	/*height: 18px;*/
	/*top: 50%;*/
	left: 60%;
	position:absolute;
	top:0px;
	/*margin-top: -50px;*/
	margin-left: -52px;
	/*right:0px;*/
	border: solid #FFD700;
	border-width: 8px 3px 8px 3px;
	background-color: #FFD700;
	/*background: white;*/
	
	-moz-border-radius: 4px;
		-webkit-border-radius: 5px;
		-moz-background-clip: border;     /* Firefox 3.6 */
        -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
        background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        -moz-background-clip: content;     /* Firefox 3.6 */
        -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
        background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
		
}

#corner-banner { 
    position: absolute; 
    left: -65px; 
    top: 15px; 
    display: block; 
    width: 200px; 
    background: #333; 
    background: -moz-linear-gradient(top, #333 0%, #000 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#green)); 
    text-align:center; 
    font-size:11px; 
    line-height:13px; 
    padding:3px 3px 4px 3px; 
    text-shadow: #000 1px 1px 0; 
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
    box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px; 
    -moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px; 
    -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px; 
} 
/*
http://www.exploding-boy.com/images/banners/banners.html#
http://www.cagintranet.com/archive/css3-corner-banner-with-ie-fallback/ 
*/
#corner-banner a:link,#corner-banner a:visited  {color:#FFF0B7;text-decoration: none;} 
#corner-banner a:hover,#corner-banner a:focus  {color:#FFF;text-decoration: none;} 
#corner-banner em { 
    letter-spacing:1px; 
    font-style:normal; 
    font-size:8px !important; 
    color:#fff; 
    text-transform:uppercase; 
    line-height:12px; 
    display:block; 
}
/*IE CSS
#corner-banner { 
    text-align:right; 
    padding-right:15px; 
    left: -135px; 
    top: 20px; 
}*/
.box {
  margin: 50px auto;
  background: white; 
  /*background: -moz-linear-gradient(top, #333 0%, #000 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#gray), color-stop(100%,#white));*/
	-moz-border-radius: 4px;
		-webkit-border-radius: 5px;
		-moz-background-clip: border;     /* Firefox 3.6 */
      -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
      background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

      -moz-background-clip: content;     /* Firefox 3.6 */
      -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
      background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	  -moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');





}
.errorText 
{
	color: #CC2127;
	font-size: .9em;
}
.warningText 
{
	
  	color: #CC2127;
	padding: 1px 0;
	margin: 0;
	display: inline;
}
.smallCouponContainer
{
	float:none;
}
.couponSmall
{
  float: left;
  height: 120px;
  margin: 20px; /* This will add margin to all 4 sides*/
  position:relative;/* Align relative to others*/
  /*margin-bottom: 20px;
  margin-top: 20px;*/
  width: 40%;
  border:2px dotted orange;
  

}
.couponLeft
{
  /*margin: 20px;  This will add margin to all 4 sides*/
  margin-bottom: 20px;
  background: #e4e4e4;
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  /*background: -moz-linear-gradient(top, #333 0%, #000 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#gray), color-stop(100%,#white));*/
	-moz-border-radius: 4px;
		-webkit-border-radius: 5px;
		-moz-background-clip: border;     /* Firefox 3.6 */
      -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
      background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

      -moz-background-clip: content;     /* Firefox 3.6 */
      -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
      background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	  -moz-box-shadow: 3px 3px 4px #000;
		-webkit-box-shadow: 3px 3px 4px #000;
		box-shadow: 3px 3px 4px #000;
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}
.couponRight
{
  /*margin: 20px;  This will add margin to all 4 sides*/
  z-index:100;
  margin-bottom: 0px;
  position:absolute;
  bottom:2px;
  right:2px;
}
.couponMain
{
  /*margin: 20px;  This will add margin to all 4 sides*/
  position: absolute;
  background: green;
  right:0%;
  top:0%;
  width:66%;
  height:55%;
  padding: 14px 2px;
  text-color:white; 
  color:#fff;
  background:green; /* default background for browsers without gradient support */
/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
	background:-moz-linear-gradient(#b8db29, #5a8f00);
	background:-o-linear-gradient(#b8db29, #5a8f00);
	background:linear-gradient(#b8db29, #5a8f00);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
 
}
.container 
{
  clear: both;
}
.bottomInfo {/*http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css*/
  margin-bottom: 0px;
  position:absolute;
  bottom:2px;
  right:2px;
  width:65%;
	padding: 14px 2px;
	text-color:white; 
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.smallSummary {
	position:absolute;
	width:30%;
	height:100%; 
  	top:0px;
  	left:0px;
	padding:0px 2px;
	margin:0;
	color:white;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
}
.small-location-border {
	position:absolute;
	padding:0px 0px 0px 0px;
    bottom:0px;
    right:0px;
    width:66%;
	height:35%;
	border:2px solid black;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(0, 0, 0);
		/* RGBa with 0.6 opacity */
		background: rgba(0, 0, 0, 0.1);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.page_info_coupons
{
	width:100%;	
	position:relative;
	background:#fff;
	
}